.sidebar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar li {
    display: inline-block;
    text-align: center;
}
.sidebar a {
    color: #fff;
    display: inline-block;
    padding: 0.5em 0.75em;
    margin:10px;
    background-color: #666;
    border-radius: 4px;
    text-decoration: none;
    width:150px;
    font-weight: bold;
}
.sidebar a:hover {
    background-color: #000;
    color:#fff;
  }